<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DESAFIO SOCKET</title>
</head>
<body>
    <div id="product-form">
        <h1>PRODUCTOS EN TIEMPO REAL</h1>
        <div id="productAdd"></div>
        <form id="productoAdd-form" method="post">
            <label for="productTitle">Nombre Producto</label>
            <input type="text" id="productTitle" required>
            <label for="productDescription">Descripcion</label>
            <input type="text" id="productDescription" required>
            <label for="price">Precio</label>
            <input type="number" id="productPrice" required>
            <button type="submit">Agregar producto</button>
        </form>
        <hr>
        <div id="showProducts" > REAL TIME PRODUCTS</div>
    </div>

    <script src="/socket.io/socket.io.js"></script>
    <script src="/realTimeProducts.js"></script>

</body>

</html>